.ag-wrapper {
   margin-top: 20px;
}

.ag-assets {
   display: flex;
   flex-wrap: wrap;
}

.ag-search {
   position: relative;
}

.ag-search-icon {
   width: 20px;
   height: 20px;
   position: absolute;
   right: 15px;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
}

.ag-search-icon img {
   width: 100%;
}

.ag-no-assets {
   padding: 10px 2px;
}

.ag-no-assets p {
   font-size: 13px;
}

.ag-no-assets h2 {
   padding-top: 10px;
   padding-bottom: 15px;
}
